@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

img {
  width: 100vw;
}

a {
  display: block;
  background-color: red;
  color: white;
  padding: 20px;
  text-decoration: none;
  font-weight: bolder;
  text-align: center;
  transition: 0.2s;
}

a:hover {
  transform: scale(110%);
  background-color: rgb(170, 0, 0);
  transition: transform 0.3s
}